{{ define "main" }}

<link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#606060","text":"#ffffff","border":"#f9f9f9"},"button":{"background":"#f9f9f9","text":"#000000"}},"position":"bottom","content":{"message":"Diese Website nutzt Cookies, um die Nutzungserfahrung zu verbessern.","link":"Mehr erfahren","button":"Verstanden!","href":"#impressum"}})});</script>


    {{ partial "banner.html" . }}

    {{ partial "navigation.html" . }}

    {{ partial "intro.html" . }}

		{{ partial "aboutme.html" . }}

    {{ partial "energieausweise.html" . }}

		{{ partial "leistungen.html" . }}

    {{ partial "referenzen.html" . }}

    {{ partial "kontakt.html" . }}

		{{ partial "impressum.html" . }}

{{ end }}
